@using UVote.Models
    @model IEnumerable<ElectoralCandidate>
@{
    ViewBag.Title = "Details";
}
@section Logged{
    @if (Session["studentNumber"] == null)
    {
        Response.Redirect(Url.Action("Login", "Vote"));
    }
}
<h2>Candidates</h2>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @if (Model == null)
        {
            <div class="text-danger">
                Error! Campaign does not contain candidates.
            </div>
        }
        else
        {
            foreach (var candidate in Model)
            {
                using (Html.BeginForm("Create", "Vote", FormMethod.Post))
                {
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object" src="~/Content/Images/@candidate.ImageUrl" alt="@candidate.FirstName @candidate.LastName" width="100">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading text-primary">@candidate.FirstName @candidate.LastName (Candidate ID: @candidate.CandidateId)</h4>
                            <p class="text-success">Manifesto</p>@candidate.CampaignId
                            <p>@candidate.Manifesto</p>
                            @Html.Hidden("CandidateId", @candidate.CandidateId)
                            @Html.Hidden("StudentNumber", Session["studentNumber"])
                            @Html.Hidden("CampaignId")
                            <input type="submit" name="submit" class="btn btn-success" value="Cast vote" /> |
                            @Html.ActionLink("Go back", "Index", "Vote")
                        </div>
                    </div>
                    <hr />
                }
            }
        }
    </div>
</div>

